$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;

$checked-border-color: #5cb85c;
$checked-color: #5cb85c;
$unchecked-border-color: #D2D2D2;
$unchecked-color: #D2D2D2;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.just-css-elements{
	font: 100% $font-stack;
}
.just-css-elements .jce-item{
	float: left;
}
.just-css-elements .jce-item input[type="checkbox"], .just-css-elements .jce-item input[type="radio"]{
    position: absolute;
    margin-left: 0px;
	opacity: 0;
}
.just-css-elements .jce-item input[type="checkbox"] + label:after, .just-css-elements .jce-item input[type="radio"] + label:after{
	display: block;
	font-family: "FontAwesome";
	content: "\f00d";    
	color: $unchecked-color;
	border: 1px solid $unchecked-border-color;
	padding: 7px 11px;
}
.just-css-elements .jce-item label{
display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.just-css-elements .jce-item input[type="checkbox"]:checked + label:after, .just-css-elements .jce-item input[type="radio"]:checked + label:after{
  font-family: "FontAwesome";
  content: "\f00c";
  border-color: $checked-border-color;
  color: $checked-color;
  padding: 7px 9px;
}

.just-css-elements .jce-item input[type="radio"] + label:after{
	 @include border-radius(30px);
}
.just-css-elements .jce-item.radio-style label{
	margin-bottom: 10px;	
}
.just-css-elements > label{
    float: left;
    color: $unchecked-color;
    margin: 8px 0px 0px 5px;
}